{{page-title "TestStorybook"}}

{{!-- The following component displays Ember's default welcome message. --}}
<div class="button-container">
  <Button @title="Hello World" />
</div>

<WelcomePage />
{{!-- Feel free to remove this! --}}

{{outlet}}